<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head> 
    <title>Game Over</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href = "custom.css" rel = "stylesheet">
    <script src = "js/bootstrap.js"></script>
    <script src="controller.js"></script>
</head>
<body class = "text-center">

    <main class="form-signin w-100 m-auto">
        <form th:action = "@{/win} " th:method ="POST">
            <h1 class="h3 mb-3 fw-normal">You Win</h1>
            <div class="form-floating">
                <p th:text = "You+' '+played+' '+on+' '+${difficulty}"></p>
                <p th:text = "Mines+' '+left+' '+${mines}"></p>
                <p th:text = "Moves+' '+you+' '+made+' '+${clicks}"></p>
                <p th:text = "Safe+' '+cells+' '+left+' '+${safecells}"></p>
                <p th:text = "Enter+' '+Name"></p>
                <input type="text" th:name="name" >
            </div>
            <input th:name="Enter_Score" th:value="Enter+' '+Score" type="submit" class="btn btn-primary" ></input>
            <p class="mt-5 mb-3 text-muted"></p>
        </form>
        <form th:action = "@{/}" >
            <!-- <input type="hidden" th:name="difficulty" th:value="${difficulty}"> -->
            <input th:name = "flag", th:value="Home" type="submit" class="btn btn-primary" >
        </form>
    </main>
  
  </body>
</html>